@charset "UTF-8";
@import 'mixins';

/*** MIXINS USAGE ***

	@include font-face("fontName", "../fonts/fontPath/fontName", normal); 

	@include xs(12);
	@include sm(12);
	@include md(12);
	@include lg(12);

	@include r(768);
	@include rmin(768);

	@include trans / trans($what $dur $easing);
	@include cover;

	@include centerX / centerXa
	@include centerY / centerYa

	@include overlay($opacity)
***/

$yellow: #FFCD00;
$gray: #263238;
$green: #C5CB14;
$blue: #4077FF;

* {box-sizing: border-box;}

::-moz-selection {
	color: #263238;
	background: $yellow; 
}
  
  ::selection {
	color: #263238;
	background: $yellow; 
}

body {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 14px;
	color: $gray;
}

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

a {
	color: $gray;	
	&:hover, &:focus {
		color: $gray;	
		text-decoration: none;
	}
}

.container-fluid {
	max-width: 1400px;
	&::before, &:after {display: none;}
}

.bg-yellow {background: $yellow;}

.yellow-text {
	color: $yellow;
	&:hover, &:focus {color: $yellow}
}

.btn {
	background: $gray;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: $yellow;
	padding: 9px 14px;
	text-decoration: none;
	font-style: normal;
	border-radius: 0;
	&:hover, &:focus, &:active {
		text-decoration: none;
		outline: none;
		color: $yellow;
		box-shadow: none;
	}
	&-yellow {
		background: $yellow;
		color: #fff;
		&:hover, &:focus {
			text-decoration: none;
			outline: none;
			color: #fff;
		}
	}
	&-white {
		background: transparent;
		border: 2px solid #fff;
		color: #fff;
		&:hover, &:focus {
			text-decoration: none;
			outline: none;
			color: #fff;
		}
	}
	&-gray {
		background: transparent;
		border: 1px solid $gray;
		color: $gray;
		&:hover, &:focus {
			text-decoration: none;
			outline: none;
			color: $gray;
		}
	}
}

h2, .h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 60px;
	text-transform: uppercase;
	font-style: normal;
}


h3, .h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 36px;
	text-transform: uppercase;
	font-style: normal;
	@include r(767) {
		font-size: 30px;
	}
}

h4, .h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 26px;
	text-transform: uppercase;
	font-style: normal;
}

.header {
	background: $yellow;
	position: relative;
	z-index: 10;
	.container-fluid {
		height: 53px;
		padding-left: 15px;
		padding-right: 0;
		display: flex;
		align-items: center;
	}
	&__logo {
		position: relative;
		top: 10px;
		margin-right: 55px;
		img {width: 240px;}
	}
	&__btn {
		margin-left: auto;
		margin-right: 51px;
		@include r(1023) {display: none;}
	}
	&__phone {
		font-weight: 900;
		font-size: 26px;
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		text-decoration: none;
	}
	&__phoneText {
		font-weight: 900;
		display: block;		
		text-align: right;
		position: relative;
		top: -6px;
	}
	&__contacts {
		@include r(1023) {display: none;}
	}
}

.hamburger {
	position: relative;
	top: 2px;
	cursor: pointer;
	svg {font-size: 20px;}
	@include r(1023) {
		@include centerYa;
		right: 15px;		
	}
}

.banner {
	@include cover;
	position: relative;
	height: 583px;
	margin-top: -20px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: #000;
		opacity: 0.6;
	}
	&__info {
		position: relative;
		z-index: 2;
		top: 36%;
		transform: translateY(-50%);
		margin: 0 auto;
		.btn:first-child {margin-right: 19px;}
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 900;
		color: #fff;
		font-size: 60px;	
		text-transform: uppercase;	
		line-height: 1;
		margin-bottom: 36px;
		@include r(1023) {font-size: 48px;}
		@include r(767) {font-size: 30px;}
	}
	.btn {
		@include r(1023) {font-size: 18px;}
		@include r(767) {font-size: 16px;}
		@include r(374) {font-size: 14px;}
	}
}

.cards {
	margin-top: -95px;
	position: relative;	
	margin-bottom: 40px;
	@include r(767) {
		overflow: hidden;
		padding-bottom: 50px;
		padding-left: 15px;
	}
	@include r(413) {padding-left: 0;}
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	float: left;
	width: 364px;
	height: 248px;
	margin: 0 15px;
	padding: 12px 24px;
	box-shadow: 0 8px 36px rgba(0,0,0,0.2);
	transform-style: preserve-3d;
	@include r(1279) {width: 311px;}
	@include r(1023) {
		margin: 0;
		box-shadow: none;
		width: 244px;
	}
	@include r(767) {
		margin: 0 10px;
		box-shadow: 0 8px 36px rgba(0,0,0,0.2);
		width: 345px;
	}
	@include r(413) {
		width: 310px;
		&:first-child {margin-left: 0;}
	}
	&:hover {
		.card__title, .card__icon, .card__text {transform: translateZ(20px);}
	}
	&-green {background: $green;}
	&-yellow {background: $yellow;}
	&-blue {
		background: $blue;
		color: #fff;
		&:hover, &:focus {color: #fff;}
		svg {fill: #fff;}
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		text-transform: uppercase;
		line-height: 1.1;
		max-width: 92%;
		margin-bottom: -4px;
		transition: all .3s ease-in-out;
		@include r(1023) {font-size: 22px;}
		@include r(767) {font-size: 26px;}
	}
	&__icon {
		font-size: 33px;
		margin-bottom: 4px;	
		transition: all .3s ease-in-out;	
	}
	&__text {
		max-width: 77%;
		transition: all .3s ease-in-out;
	}
}

.icons {
	padding: 100px 0;
	@include r(767) {padding: 0;}
	.container-fluid {
		display: flex;
		@include r(1023) {flex-wrap: wrap;}
	}
	h4 br {
		@include r(767) {display: none;}
	}
	&__info {
		width: 21%;
		@include r(1023) {width: 100%;}
	}
	&__wrap {
		width: 79%;
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		@include r(1023) {
			width: 100%;
			margin-top: 60px;
			padding-left: 0;
		}
		@include r(767) {
			flex-wrap: wrap;
			margin-top: 0;
		}		
	}
	&__icon {
		padding-top: 25px;
		position: relative;
		@include r(767) {
			width: 100%;
			margin-bottom: 37px;
			&:first-child {
				margin-bottom: 22px;
				&:before, &:after {bottom: -59px;}
			}
		}
		&:before, &:after {
			content: '';
			position: absolute;
			right: -50px;
			width: 1px;
			background: $green;
			height: 78px;
			@include r(1279) {right: -31px;}
			@include r(767) {bottom: 0;}			
		}
		&:before {
			top: 50%;
			transform: translateY(-50%) rotate(10deg);
			margin-top: -1px;
			@include r(767) {
				top: initial;
				bottom: -68px;	
				left: 40%;
				transform: rotate(100deg) translateX(-50%);
				margin-bottom: 0;
				margin-left: -1px;
			}
			@include r(413) {margin-left: -4px}
			@include r(374) {margin-left: -10px}
		}
		&:after {
			bottom: 50%;
			transform: translateY(-50%) rotate(-10deg);
			margin-bottom: -1px;
			@include r(767) {
				top: initial;
				bottom: -68px;
				right: 40%;
				transform: translateX(-50%) rotate(-100deg);
				margin-bottom: 0;
				margin-right: -1px;
			}
			@include r(413) {margin-right: -5px}
			@include r(374) {margin-right: -10px}
		}
		&:last-child {
			&:before, &:after {display: none}
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 900;
			font-size: 14px;
			line-height: 1.2;
			margin-bottom: 8px;
			@include r(767) {
				margin-bottom: 0;
				br { display: none;}
			}
			span {
				font-size: 18px;
				@include r(767) {display: block;}
			}
		}
		& > span {
			font-size: 10px;
			display: inline-block;
			line-height: 1;
			@include r(767) {
				br { display: none;}
			}
		}
		svg {
			font-size: 33px;
			@include r(767) {
				float: left;
				margin-left: 18%;
				margin-right: 10px;
				font-size: 25px;
			}
			@include r(374) {margin-left: 8%;}
		}
	}
}

.approach {
	padding: 15px 0 83px;
	margin-bottom: 80px;
	@include r(1023) {margin-bottom: 0;}
	@include r(767) {padding: 15px 0 0;}
	.container-fluid {
		display: flex;
		@include r(767) {flex-wrap: wrap;}
	}
	&__col {
		@include xs(12);
		@include sm(12);
		@include md(6);
		@include lg(6);
		padding-left: 0;
		@include r(767) {
			padding: 0;
			&:first-child {order: 2}
			&:last-child {order: 1;}
		}
	}
	&__video {
		height: 315px;
		position: relative;
		cursor: pointer;
		box-shadow: 0 42px 89px -35px $yellow;
		@include r(767) {height: 208px;}
		&:hover {
			.approach__play {transform: translate(-50%, -50%) scale(1.1);}
		}
	}
	&__main {
		width: 100%;
		height: 100%;
		@include cover;
	}
	&__iframe {
		width: 100%;
		height: 100%;
	}
	&__play {
		background-image: url(../img/icons/play.svg);
		@include cover;
		width: 77px;
		height: 77px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all .3s;
	}
	&__mask {
		height: 315px;		
		position: relative;
		overflow: hidden;
		@include r(767) {height: 172px;}
		@include r(374) {height: 85px;}
		&:before {
			content: '';
			position: absolute;
			top: -5px;
			right: -5px;
			bottom: -5px;
			left: -5px;
			background-image: url(../img/approach.png);
			@include cover;
			z-index: 10;
			@include r(1023) {background-size: 137%;}
			@include r(767) {
				background-image: url(../img/approach-long.png);
				background-position: -33px -82px;
			}
			@include r(374) {background-position: -29px -127px;}
			@include r(359) {background-position: -24px -106px;}
		}
	}
	&__bg {
		width: 100%;
		height: 100%;
		background-image: url(../img/banner.jpg);
		@include cover;
	}
}

.cases {	
	padding: 70px 0;
	overflow: hidden;
	@include r(1023) {display: none;}
	.container-fluid {
		display: flex;
		@include r(1023) {flex-wrap: wrap;}
	}
	h2 {
		font-weight: 700;
		text-transform: initial;
		line-height: 1.2;
		margin-top: 0;
		@include r(1279) {font-size: 52px;}
		@include r(1023) {
			br {display: none;}	
		}
	}
	&__col {
		width: 33%;		
		&:first-child {
			@include r(1023) {width: 100%;}
		}
		&:nth-child(2) {
			width: 42%;
			padding-top: 11px;
			padding-left: 13px;
			@include r(1023) {width: 100%;}
		}
		&:last-child {
			width: 22%;
			padding-right: 0;
			padding-left: 20px;
			@include r(1023) {width: 100%;}
		}
	}
	&__text {
		font-size: 22px;	
		margin-bottom: 35px;	
	}
	&__man {margin-bottom: 10px;}
	&__imgDesc {font-size: 10px;}
}

.clients {
	padding: 68px 0 23px;
	@include r(767) {overflow: hidden;}
	h3 {margin-bottom: 41px;}
	@include r(767) {
		.clients__row-first {display: none;}
	}
	.swiper-container {
		@include r(767) {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -15px;
				left: -15px;
				bottom: 0;
				background: #fff;
				opacity: 0.75;
				z-index: 5;
				pointer-events: none;
			}
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-bottom: 140px;
		@include r(767) {margin-bottom: 65px}	
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background: #fff;
			opacity: 0.75;
			z-index: 5;
			pointer-events: none;
			@include r(767) {display: none;}
		}
		img {
			filter: grayscale(1);
		}
	}
}

.newsWrap {
	padding-bottom: 77px;
	.container-fluid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.news {
	height: 330px;
	background: #ECEFF1;
	padding: 19px 22px 22px 22px;
	width: 31.5%;
	@include cover;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 35px;
	@include r(1023) {width: 48%;}
	@include r(1279) {overflow: hidden;}
	@include r(767) {
		width: 100%;
		height: auto;
		margin-bottom: 15px;
		padding: 12px 15px 15px;
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 26px;
		font-style: normal;
		line-height: 1;
		width: 80%;
		margin-bottom: 9px;
		@include r(1279) {width: 100%;}
		@include r(767) {
			width: 100%;
			font-size: 20px;
		}
	}
	&__text {
		line-height: 1.2;
		@include r(767) {margin-bottom: 0;}
	}
	&__icon {
		margin-bottom: 10px;
		font-size: 34px;
	}
	&-long {
		width: 65.7%;
		justify-content: center;
		@include r(1023) {width: 100%;}
		@include r(767) {height: 330px;}
		@include r(413) {height: 268px;}
		.news__title {
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 36px;
			width: 73%;
			font-weight: 900;
			@include r(767) {
				width: 100%;
				font-size: 25px;
			}
			@include r(374) {font-size: 19px;}
		}
		.news__text {
			font-size: 22px;
			width: 55%;
			line-height: 1;
			@include r(767) {
				width: 100%;
				font-size: 19px;
			}
		}
	}
	&-green {
		justify-content: center;
		background: $green;
		.news__title {
			text-transform: uppercase;
			font-weight: 900;
			margin-bottom: 0;
		}
		.news__text {line-height: 1;}
	}
}

.partners {
	padding: 50px 0 17px;
	h3 {width: 100%;}
	.container-fluid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.partnersItem {
	display: inline-block;
	width: 23%;
	margin-top: 32px;
	@include r(1023) {width: 100%;}
	&-first {
		width: 49%;
		@include r(1023) {width: 100%;}
		.partnersItem__title {
			font-size: 34px;
			width: 83%;
			@include r(1023) {width: 100%;}
		}
		.partnersItem__text {
			font-size: 22px;
			width: 79%;
			@include r(1023) {width: 100%;}
		}
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 26px;
		font-style: normal;
		line-height: 1;
	}
	&__text {line-height: 1.2;}
	&__img {mix-blend-mode: multiply;}
}

.services {
	padding: 91px 0;
	@include r(767) {display: none;}
	.container-fluid {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}

.serv {
	display: flex;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
	width: 33%;
	padding: 66px 23px 44px 0;
	position: relative;
	transition: all .3s ease-in-out;
	&:hover {
		color: #fff;
		@include r(1023) {color: $gray;}
		&:before {
			opacity: 1;
			box-shadow: 0px 11px 49px 0 rgba(0,0,0,0.25);
		}
		.icon {fill: #fff;}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 10px;
		left: -10px;
		bottom: 0;
		background: $blue;
		opacity: 0;
		z-index: -1;
		transition: all .3s ease-in-out;
		@include r(1023) {display: none;}
	}
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 900;
		font-size: 26px;
		font-style: normal;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 0;
	}
	&__text {width: 67%;}
	.icon {
		font-size: 33px;
		transition: all .3s ease-in-out;
		fill: #fff;
	}
	&-btn:hover:before {display: none;}
}

.footer {
	background: $gray;
	padding: 107px 0;
	@include r(767) {
		padding: 28px 0;
		overflow: hidden;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&:last-child {justify-content: flex-start;}
	}
	&__list {		
		margin-top: 93px;
		margin-right: 48px;
		@include r(767) {
			margin-right: 41px;
			margin-top: 55px;
		}
		@include r(413) {margin-right: 21px;}
		@include r(374) {margin-right: -10px;}
		&:last-child {
			margin-right: 59px;
			margin-left: auto;
			@include rmin(1281) {margin-right: 8%;}
			@include r(1280) {margin-right: 6%;}
			@include r(1279) {margin-right: 2%;}
			@include r(767) {
				margin-left: 0;
				margin-top: 40px;
			}
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-weight: 900;
			font-style: normal;
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 6px;
			color: #fff;
			opacity: 0.5;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 8px;
				a {
					color: #fff;
					opacity: 0.5;
					transition: all .3s ease-in-out;
					font-style: normal;
					&:hover {opacity: 1;}
				}
			}
		}
	}
	&__dev {
		color: #878E91;
		margin-top: 62px;
		margin-right: 122px;
		@include rmin(1281) {margin-right: 12%;}
		@include r(1280) {margin-right: 10%;}
		@include r(1279) {margin-right: 8%;}
		@include r(767) {margin-top: 30px;}
		p {
			float: right;
			@include r(767) {
				text-align: left;
				float: left;
				br {display: none;}
			}
			@include r(374) {white-space: nowrap;}
		}
		a {
			color: #878E91;
			&:hover {
				transition: all .3s ease-in-out;
				color: #fff;
			}
		}
	}
}

.mask {
	color: #fff;
	width: 50%;	
	@include r(767) {width: 100%;}
	&__img {
		width: 50%;
		display: inline-block;
		float: left;
		height: 90px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
		}
		&-prm:before {
			background: url(../img/prm-mask.png) no-repeat 12% 43%;
			background-size: auto;
			@include r(1279) {background-size: 197%;}
		}
		&-msk:before {
			background: url(../img/msk-mask.png) no-repeat 15% 41%;
			background-size: auto;
			@include r(1279) {background-size: 191%;}
			@include r(767) {
				background: url(../img/msk-mask.png) no-repeat 19% 41%;
				background-size: 191%;
			}
		}
	}
	&__info {
		width: 50%;
		display: inline-block;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-style: normal;
		padding-left: 9px;
		line-height: 1.2;
		padding-top: 16px;
		@include r(767) {
			&:last-child {padding-left: 10px !important;}
		}
	}
	&__bg {
		width: 150%;
		height: 150%;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
	}
}

.slick-dots {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 20px;
	@include centerXa;
	bottom: 0;	
	li {
		float: left;
		margin: 0 5px;
		&.slick-active button {background: $gray;}
		button {
			background: transparent;
			color: transparent;
			border-radius: 50%;
			border: 1px solid $gray;
			width: 10px;
			height: 10px;
			padding: 0;
			transition: all .3s ease-in-out;
			&:hover, &:focus {outline: none;}
		}
	}
}

.swiper-pagination-bullet {
	background: transparent;
	color: transparent;
	border-radius: 50%;
	border: 1px solid $gray;
	width: 10px;
	height: 10px;
	padding: 0;
	transition: all .3s ease-in-out;
	&:hover, &:focus {outline: none;}
}

.swiper-pagination-bullet-active {background: $gray;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0;
}

.swiper-pagination-clients {bottom: 20px!important;}

@media (min-width: 1025px) {
	.cards .swiper-wrapper {
		display: flex;
		justify-content: center;
		padding: 0;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.cards .swiper-wrapper {
		display: flex;
		justify-content: flex-start;
		padding: 0;
	}
	.cards .card:first-child {margin-left: 0;}
}

@media (min-width: 1024px){
	.clients__row img {width: auto!important;}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.clients__row img {width: 85px!important;}
}

